.container {
  padding: 1rem 2rem 0rem 2rem;
  margin-top: 2rem;
}

.table-container {
  color: white;
}

.table-container h2 {
  margin: auto;
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

article {
  margin: auto !important;
}

table {
  margin: auto !important;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

th,
td {
  border: solid 2px rgb(53, 53, 53);
  padding: 8px;
  font-size: 13px;
}

thead tr th {
  font-weight: 900;
}

thead tr th {
  background-color: #dfa92f;
}

.table-left {
  text-align: left;
  cursor: pointer;
  padding: 0px;
}

.table-left a {
  display: block;
  padding: 8px;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.movie-title {
  color: white;
  font-size: 15px;
}

.movie-title-in-english {
  display: flex;
  color: #a5a5a5;
  font-size: 12.5px;
  flex-wrap: wrap;
}

.footer-container {
  color: white;
}

@media screen and (max-width: 700px) {
  .container {
    width: 90%;
  }
}
