.program {
  margin-top: 3rem !important;
  background-color: #1d1d1d;
  width: 50%;
  color: white;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
}

table {
  margin: auto !important;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

table caption {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.table-left {
  text-align: left;
}

thead {
  background-color: ddrgb(24, 20, 20);
  color: white;
}

tfoot td:nth-child(4),
tfoot td:nth-child(7),
tbody td:nth-child(4),
tbody td:nth-child(7) {
  color: green;
}

tfoot {
  border: solid 2px black;
}

tfoot td {
  font-weight: 700;
}

footer {
  margin-top: 2rem;
}
