.container {
  padding: 1rem;
  margin-top: 2rem;
}

.table-container {
  color: white;
}

.table-container h2 {
  margin: auto;
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

table {
  margin: auto !important;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

th,
td {
  border: solid 2px rgb(53, 53, 53);
  padding: 5px;
}

thead tr th {
  font-weight: 900;
}

thead tr th {
  background-color: #dfa92f;
}

.table-left {
  text-align: left;
}

.footer-container {
  color: white;
}
