@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Roboto:ital,wght@0,500;1,100;1,700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

.top-bar {
  margin: auto;
  width: 100%;
  padding: 1rem 1rem 0.2rem;
  background-color: #1d1d1d;
}

.top-bar nav {
  margin-top: 1.5rem;
}

.main-logo {
  width: 125px;
}

nav ul {
  padding: 0px;
  display: flex;
}

nav ul li {
  color: white;
  margin-right: 1.5rem;
  display: block;
}

.navbar-item {
  all: unset;
}

nav ul li:hover {
  cursor: pointer;
  color: #dfa92f;
}

.movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 600px;
  margin-top: 5rem;
}

.main-movie img {
  width: 100%;
}

.bottom-movie {
  width: 32.8%;
}
